/* Style for the main element */
main.accio {
    width: 150px;
    height: 150px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the paragraph element with class hello-accio */
p.hello-accio {
    color: #ffffff;
    margin-left: 32px;
    padding: 10px;
}
